JWTSECRET=Random string that is long.
USERS='{"user":"password","user2":"password2"}'
OKAPIURL = https://your-url-to-okapi.com
OKAPITENANT = TENANT
OKAPIUSER = "your okapi user"
OKAPIPWD = "your okapi user password"
DENIEDGROUPS="['GUID of group that is not allowd to change pin','GUID2','GUID3']"
PORT=3000
